<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Ivo War</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="estilo.css">
    </head>
    <body>
        <div class="static">
            <p>Estatisticas Ivo's War</p>
            <ul>
                <ol>
                    <li>Nome:</li>
                    <li>XP:</li>
                    <li>Vidas:</li>
                </ol>
 
            </ul>

</div>
        <div class="mito"></div>
        <div class="ale">
            
        </div>
        <div class="central"></div>
        <div id="topo"></div><br>
        
    </body>
</html>
