* {
    padding : 0;
    margin : 0;
    font-family: sans-serif;
}
@media screen and (min-width: 651px){
	#formCadastro{
		width: 20%;
		margin: auto;
		border: solid 1px;
		padding: 1.5%;
		font-size: 24px;
		text-align: center;
		position: relative;
		top: 50px;
	}
	#formCadastro input{
		width: 95%;
		font-size: 20px;
		margin-top: 10px;
	}
	#formCadastro .btn{
		width: 50%;
	}
	#formCadastro a{
		font-size: 18px;
	}
}
@media screen and (max-width: 650px){
	#formCadastro{
		width: 60%;
		margin: auto;
		border: solid 1px;
		padding: 3%;
		font-size: 24px;
		text-align: center;
		position: relative;
		top: 50px;
	}
	#formCadastro input{
		width: 95%;
		font-size: 20px;
		margin-top: 10px;
	}
	#formCadastro .btn{
		width: 50%;
	}
	#formCadastro a{
		font-size: 15px;
	}
}