<!DOCTYPE html>
<!--
+To change this license header, choose License Headers in Project Properties.
+To change this template file, choose Tools | Templates
+and open the template in the editor.
+-->
<html>
    <head>
        <title>Ivo War</title>
        <meta charset="UTF-8">
       
        <link rel="stylesheet" type="text/css" href="estilo.css">
    </head>
    <body>
    	<div id="cabecalho"><img src="image/nomeDoJogo.png">
    	<div id="menu">
    		<div id="home">
    			<ul>
    				
    				<li>home</li>
    				
    			</ul>
    			<div id="ranking">
    				<ul>
    					<ol>
    						<li>ranking</li>
    					</ol>
    				</ul>
    			</div>
    			<div id="sobre">
    				<ul>
    					<ol>
    						<li>sobre</li>
    					</ol>

    				</ul>

    			</div>	
    		
    		</div>
    	</div>
    	</div>
        <div id="dadosDoJogador">
        	<ul>
        		<ol>
        			<li>nome do jogador :</li>
        			<li>exp</li>
        			<li>tentativas</li>
        		</ol>
        	</ul>

        </div>
        <div id="dicasParaOJogador">
        	<ul>
        		// dicas sugeridas 
        		<li>palavra em ingles ou imagem relativa a palavra</li>
        		<li>comportamentos como "qual frase vc usaria para perguntar como vai uma pessoa ?"</li>
        		<li> entre outros </li>

        	</ul>
        	</div>
        	<div id="dialogo"><img src="image/dialogo.png" width="200" height="200"></div>
        <div id="palavraJogada">
        	<h1>A palavra é :</h1>
        	<h2>.............</h2>
        </div>
        <div id="ivo1"> <img src="image/ivo1.png" width="550" height="450"></div>
        <div id="lousa"> <img src="image/lousa.png" width="750" height="450"></div>
    </body>
</html>