html,body { 
	margin: 0; 
	padding: 0; 
	min-height: 100%; 
	font-size: 1em; 
	line-height: 1.4em; 
	font-family: 'SegoeUI', Arial, Helvetica !important;
	}
p, a {
	color: #333333;
	font-size: 14px;
}
p:hover {
	cursor: text;
}
.banner{
	width: 85%;
	padding-left: 37%;
	margin: 0 auto;
	}	
#logo{
	margin: auto; 
	padding: 0.714em 0; 
	background-color: #33A95B;
	display: block;
    
}
#logoCelle{
   float: left;  
}
h1{
	font-size: 30px;
	margin-right: 10px;
	font-family: 'Segoe UI';
	font-weight: lighter;
}
p{
	margin-right: 10px;
}
#conteudo{
	width: 70%;
	margin-left:15%;
	margin-right: 15%;
	height: 100%;
	text-align: justify;
    margin-bottom: 5%;

}
#conteudo p {
	margin-bottom: 0px;
	text-align: justify;
	padding-bottom: 0px;
	line-height: 20px;
	text-indent: 25px;
}
footer{
	background: #33A95B;
	height: 60px; 
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	color: #FFFFFF;
	font-size: 14px;
}
.t1{
	margin-top: 30px;
	margin-left: 0;
	font-size: 26x;
}

#menu ul li  {

	color:#000000;
	border-bottom:3px solid #228B22;
	font-size: 1.0cm;			
}
#menu {
	border-bottom:3px solid #228B22;
	height: 26.6px;
	background-color:#FFFAFA;
	width: 100%;
}
#menu li:first-child {
	border-left: 1px solid #c0c0c0;
}
*{margin: 0; padding: 0;}

body{
	font-size: 12px;
}
a {
	text-decoration: none;
}
a:hover {
	color: #00F;
}
.menu{
	list-style:none; 
	border-top:1px solid #c0c0c0;
	float:left; width: 70%; 
	margin-left:15%;
	margin-right:15%;
}
.menu li{
	position:relative; 
	float:left; 
	border-right:1px solid #c0c0c0;
	padding-left: 10px;
	padding-right: 10px;
}
#menu ul li:hover {
	background-color:#66cc99; 
}
.menu li a{
	color:#333;
	text-decoration:none; 
	padding:5px 10px; 
	display:block;
}
.menu li a:hover{ 
	background-color:#66cc99; 
	color:#fff;
	text-shadow:0px 0px 5px #fff;
    
}
.menu li ul{
	position:absolute; 
	left:0; 
	background-color:#fff; 
	display:none; 
}
.menu li:hover ul {
	display:block;
}
.menu li ul li{
	border:1px static #c0c0c0; 
	display:block; 
	width: 110px;
}
.video {
	width: 360px;
	height: 370px;
	float: left;
}
.video:last-child {
	margin-bottom: 70px;
}
iframe {
	width: 320px;
	height: 285px;
	margin: 20px 10px;
}
h3 {
	line-height: 30px;
	padding-left: 10px;
}
section {
	height: 100%;
	margin-bottom: 30px;
}
#logo-reitoria {
	margin: 0;
	width: 70%;
}
#hr-top {
	border: 1.5px solid;
	margin-top: 20px;
	margin-bottom: 20px;
}
table {
	margin-left: 0px;
	vertical-align: super;
}
table tr td{
	padding: 5px 10px;
}
.exerc {
	padding-left: 5px;
}
h2 {
	margin-top: 20px;
	margin-bottom: 20px;
	bottom: 20px;
}
.section-videos {
	height: 100%;
	margin-bottom: 70px;
}


/* Estilos das expressões e países */

.paises table, tr, th, td, .expressoes table, tr, th, td {
	border-collapse: collapse;
    padding: 8px 10px;
}
.paises table tr:first-child, .expressoes table tr:first-child {
	background-color: #353535;
    color: #FFF;
}
.paises table tr:nth-child(even), .expressoes table tr:nth-child(even) {
    background-color: #DFDFDF;
}
.paises table th, .expressoes table th {
    text-align: left;
}
.paises th {
    width: 220px;
}
.paises {
    font-size: 14.5px;
    width: 680px;
}
.expressoes {
    font-size: 14.5px;
    width: auto;
}
.next_prev {
    text-decoration: none;
    float: right;
    padding-left: 15px;
}
.next_prev:hover {
    color: #00F;
}
span {
    float: left;
}
.td_1 {
    font-weight: bold;
    width: 140px;
}
.login {
	float: right;
	margin-top: 0;
	padding-top: 0;
	margin-right: 10%;
}
.login a {
	color: white;
	float: right;
	margin-right: 20%; 
}
.login a:hover {
	text-decoration: underline;
}
#login tr, #login td, #login {
	border-collapse: collapse;
}
.log {
	color: white;
}

.logout {
	margin-top: 3px;
	float: right;
	margin-right: 15%;
	margin-left: 18px;
}
.boas_vindas {
	float:right;
	margin-top: 62px;
	font-size: 16px;
	color: white;
	margin-right: 10px;
}
#slide { 
	width: 800px; 
	overflow: hidden; 
	height: 500px; 
	margin: 50px auto; 
	box-shadow: 0 0 8px #000; 
	position: relative; 
    border: solid 3px #33A95B;
} 

#slide img { 
	position: absolute; 
	/*z-index: 1;*/
	display: none;
	left: 0;
    width: 800px;
    height: 500px;
    
} 

#slide p { 
	z-index:2; 
	position: relative; 
	bottom: 0; 
	left: 0; 
	width: 100%; 
	padding: 10px; 
	font-family: Arial; 
	font-size: 18px; 
	background: rgba(0,0,0,0.5); 
	color: #fff; 
}
.error {
	color: #FF0000;
}

/*#menu, #menu ul {
 width: 150em;
 list-style: none;
 font: bold 12px Verdana, Arial, Helvetica, sans-serif;
 padding:  10px;
 margin: -15px;
  
 }
#menu li {
 float: left;
 }
#menu a { 
 display: block;
 width: 10em;
 height: 2em;
 line-height: 2;
 text-align: center;
 text-decoration: none;
 background-color: #69c; /* IE precisa desta declaração */
 /*color: #fff;
 border: 1px solid #ccc; 
 border-width: 0 1px 1px
 } 
#menu a:hover {
 text-decoration: none;
 background: #c7daec;
 color:#69c;
 }*/
/*#menu a.bullet {
 background:#69c url(bullet.gif) no-repeat right; 
 }
#menu a.bullet:hover {
 background: #c7daec url(bullet-over.gif) no-repeat right; 
 }
#menu li ul {
 position: absolute;
 left: 0em;
 width: 10em;
 margin: 0;
 }

#menu li:hover ul ul, #menu li.over ul ul {
 left: -1000em;
 }*/
/*#menu li:hover ul, #menu li li:hover ul, #menu li.over ul, #menu li li.over ul {
 left: auto;
}*/*/