.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    overflow: hidden;
}
 
body {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 20px;
}
 
/* Drag e Drop system */
.drag-container, .drop-container {
    width: 90%;
    background: #333;
    font-size: 0;
    text-align: center;
    color: #fff;
}
.drag, .placeholder {
    font-size: 12px;
    width: 90%;
    line-height: 50px;
    background: #0074a2;
    margin: 10px auto;
}
.drop-container {
    background: #222;
    height: 200px;
}
.drop-container p {
    font-size: 18px;
    line-height: 190px;
}
.placeholder {
    background: none;
    border: 1px dotted #eee;
}
.lixeira {
    margin: 20px 0;
    background: #ddd;
    border: 2px dotted #999;
    text-align: center;
    line-height: 50px;
    color: #999;
    font-weight: 700;
    font-size: 18px;
}
.lixeira-ativa {
    border: 2px dotted red;  
}