h1 { 
 	background: green;
    width: 250px;
	height: 100px; 
	border: 10px solid black; 
	/*margin:  25px 500px 200px 500px; */
 	margin: 200px auto;
    padding: 100px 300px 100px 50px; 
    position: absolute;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
   
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
body {
	   margin: 0;
	   background-color: #e7f7de;
}
div#dialogo{
	position: fixed;
	position: relative;
 	top: 25%;
 	left: 57%;
 	overflow: auto;

}
div#cabecalho{
	background-color: green;
	position: absolute;
	right: 0%;
	width: 1510px;
	height: 150px;

}
div#cabecalho img{
  		position: absolute;
  		top: -10%;
  		right: 10%;
}
div#ivo1{
	position: absolute;
	top: 20%;
	right: -5%;
}
div#background img{
	position: absolute;
	top: 25%;
	right: 25%;
}