<!DOCTYPE html>
<html>
    <head>
        <title>Ivo War</title>
        <meta charset="UTF-8">
       <script type="text/javascript" src="javascript.js" ></script>
        <link rel="stylesheet" type="text/css" href="estilo.css">
    </head>
    <body>
    	<div>
    	<div id="background"><img src="image/background.png" width="900" height="600"></div>
    	<div id="menu">
    		<ul id="dropdown">
  				<li><a class="active" href="#home">Home</a></li>
  				<li><a href="#news">News</a></li>
  				<li><a href="#contact">Contact</a></li>
  				<li><a href="#about">About</a></li>
			</ul>
    	<div id="cabecalho"><img src="image/nomeDoJogo.png">
</div>
    	
        <div id="ivo1"> <img  src="image/ivo1.png"  width="700" height="700">
        
        
    </body>
</html> 