#register-login-form{
	width: 36%;
	height: 260px;
	text-align: center;
	box-shadow: 2px 4px 6px gray;
	padding: 7px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-130px;
	margin-left:-18%;
	border-radius: 3px;
}
#register-login-form input{
	width: 95%;
	margin-top: 14px;
	font-size: 20px;
}
#register-login-form h2{
	text-transform: uppercase;
	font-weight: normal;
	font-family: sans-serif;
}
#register-login-form div{
	width: 120px;
	border: groove;
	margin: auto;
}
#register-login-form a{
	padding: 1px 27px 1px 27px;
	text-decoration: none;
	color: black;
}
#register-login-form #submitButton{
	margin-bottom: 14px;
	width: 35%;
}